<% content_for :page_content do %>
    <div class="row">
        <div class="span3">
            <%= partial 'sidebar' %>
        </div>
        <div class="span9">
            <%= yield %>
        </div>
    </div>
<% end %>
<%= render :template => '/_layout' %>
