<div class="well sidebar">
    <%= render_list :class => "nav nav-list" do |li|
        li << link_to(lorem_sentence, '#')
        li << link_to(lorem_sentence, '#')
        li << link_to(lorem_sentence, '#')
        li << link_to(lorem_sentence, '#')
    end %>
</div>
